In [1]:
##generator function is special type of function which can be created for different perspective 
range(10)

range(0, 10)

In [3]:
for i in range(10):  #list ke form me memory cunsumption high ho jata , generotor function is memory optimal function
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
def test_fib(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b=b,a+b

In [8]:
test_fib(10)

In [9]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [18]:
def test_fib(n):
    a,b=0,1
    while True:
        
        yield a
        a,b=b,a+b

In [19]:
fib=test_fib(30)

In [20]:
fib

In [21]:
 for i in range(10):
     print(next(fib))

0
1
1
2
3
5
8
13
21
34

In [22]:
s="sudh"
for i in s:
    print(i)

s
u
d
h

In [29]:
next(s) ## string is not iteratior which can not be iterate  string se for loop se data nahi nikal sakte to do so string should be act 
## as iterator to do so first it should pass to iter function

TypeError: 'str' object is not an iterator

In [30]:
s1=iter(s)

In [31]:
next(s1)

's'

In [32]:
next(s1)

'u'

In [35]:
iter(45) 
## concept of iterator and interable  sting can be interable but int is not iterable by using iter function

TypeError: 'int' object is not iterable

In [36]:
def count_test(n):
    count =1
    while count <n:
        yield count
        count =count+1

In [39]:
c=count_test(6)

In [40]:
for i in c:
    print(i)

1
2
3
4
5

In [1]:
##Lamdafunction
 n=3
p=7

IndentationError: unexpected indent (2816219825.py, line 2)

In [2]:
n=3
p=9

In [3]:
def test(n,p):
    return n**p

In [4]:
test(4,4)

256

In [9]:
a=lambda n,p:n**p ##lambda function is known as lambda funtion , and its anonymous function

In [10]:
a

print(a)

In [11]:
a(4,7)

16384

In [12]:
add=lambda x,y:x+y

In [13]:
add(3,5)

8

In [14]:
c_to_f=lambda c:(9/5)*c+32

In [15]:
c_to_f(30)

86.0

In [16]:
finding_max=lambda x,y:x if x>y else y

In [17]:
finding_max(67,90)

90

In [18]:
s="Deepakyadav"

In [19]:
find_len=lambda s:len(s)

In [20]:
find_len(s)

11

In [23]:
#Map reduce& Filter function
l=[2,3,4,5,6]

In [24]:
def test2(l):
    l1=[]
    for i in l:
        l1.append(i**2)
    return l1

In [25]:
test2(l)

[4, 9, 16, 25, 36]

In [26]:
#map() #it will map each element of list with another funtion (square() funtion etc )
def sq(x):
    return x**2

In [27]:
list(map(sq,l))

[4, 9, 16, 25, 36]

In [28]:
list(map(lambda x:x**2,l))

[4, 9, 16, 25, 36]

In [30]:
l1=[1,2,4,35,5] 
l2=[3,5,6,6,7]

list(map(lambda x,y:x+y,l1,l2))

[4, 7, 10, 41, 12]

In [31]:
def add(x,y):
    return x+y

In [32]:
add(90,8)

98

In [39]:
list(map(add,l1,l2))

[4, 7, 10, 41, 12]

In [40]:
s="pwskills"
list(map(lambda s:s.upper(),s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

from functools import reduce

In [41]:
from functools import reduce 
l=[1,2,3,4,5,6,7]

In [42]:
l

[1, 2, 3, 4, 5, 6, 7]

In [43]:
reduce(lambda x,y:x+y,l)

28

In [44]:

"""
The reduce function in Python is part of the functools module. It applies a function cumulatively to the
items of an iterable (e.g., a list) from left to right, reducing the iterable to a single value.

syntax:
from functools import reduce
reduce(function, iterable[, initializer])


function: A function that takes two arguments and returns a single value.
iterable: An iterable whose elements will be processed.
initializer (optional): A starting value that is passed to the function as the first argument along with the first item of the iterable."""
from functools import reduce

numbers = [1, 2, 3, 4, 5]
result = reduce(lambda x, y: x + y, numbers, 10)
print(result)  # Output: 25

25

In [45]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]
result = reduce(lambda x, y: x * y, numbers)
print(result)  # Output: 120

120

In [46]:
#here the initilizer is 10 so first element of list consider as the 10 after that operation going to be perform to remaining element of the 
#element of the list 

from functools import reduce

numbers = [1, 2, 3, 4, 5]
result = reduce(lambda x, y: x + y, numbers, 10)
print(result)  # Output: 25

25

In [50]:
from functools import reduce

number1=[3355,34,5,58]
result1=reduce(lambda x,y:x*y,number1,10)
print(result1)

330803000

In [51]:
reduce(lambda x,y:x if x>y else y,number1)

3355

In [53]:
"""The filter function in Python is used to filter elements from an iterable based on a condition specified by a function. 
It constructs a new iterable containing only the elements for which the function returns True.

syntax:
filter(function, iterable)


"""

list(filter(lambda x: x%2==0,number1))

[34, 58]

In [54]:
list(filter(lambda x:x%2!=0,number1))

[3355, 5]

In [55]:
number3=[-1,-45,4,5,67,7,-90]

In [56]:
list(filter(lambda x:x<0,number3))

[-1, -45, -90]

In [57]:
l2=["yadav","deepak","Mumbai","India","helloworld"]

In [58]:
list(filter(lambda x:len(x)<6,l2))

['yadav', 'India']